{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0">
                        <i class="bi bi-person-plus"></i> Créer un compte
                    </h4>
                </div>
                <div class="card-body p-4">
                    {{ form_start(registrationForm) }}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form_row(registrationForm.firstName) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form_row(registrationForm.lastName) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_row(registrationForm.email) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(registrationForm.phone) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword.first) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword.second) }}
                        </div>

                        <div class="mb-4">
                            <div class="form-check">
                                {{ form_widget(registrationForm.agreeTerms) }}
                                {{ form_label(registrationForm.agreeTerms) }}
                            </div>
                            {{ form_errors(registrationForm.agreeTerms) }}
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="bi bi-person-plus"></i> S'inscrire
                            </button>
                        </div>
                    {{ form_end(registrationForm) }}

                    <hr class="my-4">

                    <div class="text-center">
                        <p class="mb-0">
                            Vous avez déjà un compte ?
                            <a href="{{ path('app_login') }}" class="text-decoration-none">
                                Se connecter
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
